html, body {
  height: 100%;
}

.container {
  text-align: center;
  height: 100%;
}

.shop-items-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  // background-color:rgba(34, 73, 110, 0.815)
}